{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SariqDev Blog</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>
<body>
<header>
    <h1><a href="{% url 'home' %}">SariqDev Blog</a> </h1>
</header>
{% if user.is_authenticated %}
<p>Xush kelibsiz {{user.username}}
</p>
<a href="{% url 'logout' %}">Chiqish</a>
{% else %}
<a href="{% url 'login' %}">Saytga kirish</a>
<a href="{% url 'signup' %}">Ro'yxatdan o'tish</a>
{% endif %}
<div>
    {% block content %}
    {% endblock content%}
</div>
<h2><a href="{% url 'post_new' %}">Post qo'shish</a></h2>
</body>
</html>